# Keepalived configuration for Kubernetes HA
# Managed by Ansible

global_defs {
    notification_email {
    }
    router_id LVS_DEVEL
    vrrp_skip_check_adv_addr
    vrrp_garp_interval 0
    vrrp_gna_interval 0
}

vrrp_script chk_haproxy {
    script "killall -0 haproxy"
    interval 2
    weight 2
}

vrrp_instance haproxy-vip {
    state BACKUP
    priority {{ keepalived_priority }}
    interface {{ keepalived_vrrp_interface }}
    virtual_router_id {{ keepalived_virtual_router_id }}
    advert_int {{ keepalived_advert_int }}
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_pass }}
    }
    virtual_ipaddress {
        {{ ha_cluster_vip }}/{{ ha_cluster_vip_mask }}
    }
    track_script {
        chk_haproxy
    }
}
